extends layout

block content
  h1= title
  
  div#template_div

  div.container
    div.row
      div.col-md-1
      div.col-md-5#leftColumn
      div.col-md-5#rightColumn
      div.col-md-1
  
  script(type="text/javascript" src="https://www.gstatic.com/charts/loader.js")
  script(type="text/javascript" src="/javascripts/index.js")
  